@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import "tailwindcss";

:root {
    --background: #F4FFFC;
    --foreground: #17211b;

    --brand: #3ACBA7;
    --brand-dark: #3ACBA7;
    --brand-light: #E8FBF6;
    --brand-bg: #F4FFFC;
    --brand-border: #BDEFE4;
    --brand-orange: #ff8a3d;
    --text-muted: #526157;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family:
          "Pretendard Variable",
          Pretendard,
          "Apple SD Gothic Neo",
          "Noto Sans KR",
          Arial,
          sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}